# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage
/.nyc_output
/test-results
/playwright-report
/blob-report
/playwright/.cache
/cypress/screenshots
/cypress/videos

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
Thumbs.db
desktop.ini

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDEs
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
.idea/

# Repository specific
repomix-output.xml

# Drizzle
/drizzle/.drizzle
